@model  Dictionary<string, ReaktorPreAssignment.Models.PackageItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>INSTALLED PACKAGES (@Model.Count)</h1>
</div>

<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-md-3">
            @Html.ActionLink(Model.ElementAt(i).Value.Name, "ShowInfo", "Home", new { packageKey = Model.ElementAt(i).Value.Name }, null) <br />
        </div>
    }
</div>
